*{
  box-sizing: border-box;
}
body{
  margin:0;
}
.App{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.start--page{
  font-family: 'Karla';
  height: 100vh;
  width: 100vw;
  background: #F5F7FB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2rem;
}
.start--page--texts{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start--page--title{
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  color: #293264;
}

.start--page--descr{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
}

.start--page--btn{
  background: #4D5B9E;
  border-radius: 15px;
  width: 193px;
  height: 52px;
  border: none;
  color: #F5F7FB;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.The-Quiz{
  height: 100vh;
}

.answers-div-flex{
  display: flex;
  flex-direction: row;
  gap:13px;
}

.answers--div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 20.65px;
  border: 1px solid #4D5B9E;
  border-radius: 7.94239px;
  cursor: pointer;
}

.answer-p{
  margin: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10.24px;
  text-align: center;
  color: #293264;
}

.map--quest{
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #293264;
  max-width: 362px;
}

.line{
  width: 399px;
  height: 0px;
  margin-top: 20px;
  border: 0.1px solid #DBDEF0;
  transform: rotate(-0.05deg);
}
.The--Quiz{
  background: #F5F7FB;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:31px;
}
.check--ans--btn{
  width: 120px;
  height: 35px;
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 10.24px;
  line-height: 12px;
  text-align: center;
  color: #F5F7FB;
  cursor: pointer;
}